@charset "UTF-8";

body {
    margin: 0;
    font-family: "Zen Old Mincho", serif;
    overflow: hidden;
    /* デフォルトのスクロールバーを非表示 */
}

#scroll-container {
    padding-left: 5vw;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: nowrap;
    overflow-x: auto;
    /* 横スクロールを有効化 */
    /* overflow-y: hidden;
    /* 縦スクロールを無効化 */
    background-color: #000;
    
}

.item {
    display: flex;
    width: 100vw;
    /* 各アイテムの幅は画面幅 */
    height: 100vh;
    /* 各アイテムの高さは画面高さ */
    justify-content: center;
    align-items: center;
}


.item img {
    display: flex;
    justify-content: center;
    align-items: center;
    /* 画像サイズに合わせて親要素を調整 */
    height: 100vh - 15vh;
    /* section と同じ高さ */
    width: auto;

}
