@charset "UTF-8";

body {
    margin: 0;
    font-family: "Zen Old Mincho", serif;
    overflow: hidden;
    /* デフォルトのスクロールバーを非表示 */
}

#scroll-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: nowrap;
    overflow-x: auto;
    /* 横スクロールを有効化 */
    /* overflow-y: hidden;
    /* 縦スクロールを無効化 */
    background-color: #000;
    direction: rtl;  /* 右から左にスクロール */
    
}

.item {
    margin-right:  3vw;
    flex: 0 0 auto; /* コンテンツのサイズに応じた幅を確保 */
    display: flex; /* コンテンツを中央揃え */
    width: auto; /* 各アイテムをビューポート幅に合わせる */
    height: 100vh; /* 各アイテムをビューポート高さに合わせる */
    background-image: url(./images/makikami2.png);
    background-repeat: repeat-x;
    background-size: contain; /* 背景画像をアイテム内に収める */
    background-position: center; /* 背景画像を中央揃え */
}


.item img { 
    height: 100vh;
    width: auto;
    
}

.item p {
    writing-mode: vertical-rl;
    /* 縦書き */
    /*text-orientation: upright; /* 縦書きの文字の向きを調整 */
    font-size: 2rem;
    /* 必要に応じて調整 */
    font-weight: bold;
    color: black;
    /* 必要に応じて文字色を変更 */
    text-align: center;
    /* 中央揃え */
    line-height: 5rem;
    /* 行間の調整 */
}

/* ボタンのスタイル */
.button-container {
    position: fixed; /* 固定配置 */
    bottom: 20px; /* 画面下からの距離 */
    left: 20px; /* 画面左からの距離 */
    margin: 0; /* 余白をリセット */
}

.button12 {
    background-color: #fff;
    border: solid 2px #68491f;
    color: #68491f;
    border-radius: 5px;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 1em;
    box-shadow: 0 5px 0 #d1d1d1;
    display: inline-block;
    transition: .3s;
}

.button12:hover {
    color: #ff0000;
    transform: translateY(5px);
    box-shadow: 0 0 0 #68491f;
}
